@import url(../EstiloIni.css);
.titulounic{
    color: red;
    font-family: Arial;
    font-size: 60px;
}
.parrafounic{
    background-color: black;
    color: orangered;
    text-align: justify;
    line-height: 3;
}